h1{
    color: green;
    font-family: fantasy;
    font-size: 45px;
    margin: 30px; 
    text-decoration: underline;    
    text-align: center;
    }
/*{
    margin-left: 30px;
}*/

/*p{
    margin-left: 35px;
}*/
hr{
    border-color: green;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}
/*immagini
img{
    margin: 30px;*/
}
/*img.hove:hover{
    width: 600px;
    height: 400px;
}*/
/*paragrafo view more
.my_text_box { 
    max-height: 70px; 
    overflow: hidden; 
    text-align: center; 
    background-color: #f3f3f3; 
} 
.my_box_button { 
    background-color: #e85f23; 
    padding: 5px; 
    border-radius: 5px; 
    color: #fff; 
} 
.my_read_more { 
    text-align: center; 
    padding: 10px 0; 
} */

/********************************/
#flip {
    
    width: 800px;
    margin: 30px;
}
#flip img {
    width: 800px;
    height: auto;
    margin:30px;
}
#flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}
table{
    margin-top: 400px;
}
.front{
    margin:30px;
}