body{
    /*background-image: url("../../img/nigel/hdr.jpg");*/
    background-color: wheat;
}

/*stile per la tabella degli hobby*/
/*stile per la tabella globalmente*/
table{
    border: 2px solid green;
    border-collapse: collapse;
    width:40%;
    text-align: center;
    font-family: sans-serif;
}

/*stile per i dati*/
/*th, td{
    border: 1px solid blue;
    border-collapse: collapse;
    background-color: yellowgreen;
}*/

/*stile per hobby*/
th#hobby{
    background-color: green;;
}

/*stile per categorie*/
/*tr>th{
    background-color: gold;
}*/

th{
    color: darkorange;;
}

th.grTableAngle{
    color: brown;
}

div.grTeamMember{
    background-color: cadetblue;
    text-align: center;
    font-size: 100px;
    padding: 20px;
    margin-bottom: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: darkolivegreen;
}

h1{
    font-size: 50px;
}