div.row{background-color: rgb(147, 231, 147);
    box-shadow:inset 0 -14px 8px -6px rgb(72, 190, 72);
    color: darkgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;}
#content{height: 90vh;}
#title{text-align: center; 
    font-size:30px;}
hr{height: 15px;
    border: 1;
    box-shadow:inset 0 10px 8px -1px rgb(72, 190, 72);
    border-color:forestgreen;
    border-top: 1px forestgreen;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    margin: 0px;}
#logo{vertical-align:middle;}
#name{text-align: right;}
#footer{box-shadow:inset 0 -25px 15px -2px rgb(72, 190, 72);}
#team{color: darkgreen;}