
h1{
    color: green;
    font-family: fantasy;
    font-size: 30pt;
    margin: 30px; 
    }
/*{
    margin-left: 30px;
}*/


hr{
    border-color: green;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}
form{
    margin-left:35px;
}
button{}
