body{
    background-image: url("../img/yun/albero.jpg");
    background-size: 100%;
}

table{
    border-style: solid;
    border: black;
    border-collapse: collapse;
    border-width: 2px;
}
th{
    border-style: solid;
    background-color: rgb(65, 252, 65);
    height: 25px;
    width: 100px;
    padding: 5px;;
}
th#titolo{
    background-color: rgb(34, 143, 21);
}
th#titoloM{
    background-color: rgb(18, 112, 18);
}
div{
    margin-left: 20px;
    margin-top: 5px;
}