<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin Login</title>
</head>

<body>
    <h2>Administrative access</h2>

    <form action="confirm.html" method="post">
        <fieldset>
            <legend>Credentials:</legend>
            <label>Username:<input type="text" name="username" required></input></label>
            <label>Password:<input type="password" name="password" required></input></label>
            <br>
            <button type="submit">Login</button>
        </fieldset>
    </form>

</body>




















