<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin Login</title>
    <link rel="stylesheet"
    type="text/css"
    href="../css/adminlogin.css"/>
</head>

<body>
    <h2>Accesso Amministrativo</h2>

    <form action="access.html" method="post">
        <fieldset>
            <legend>Credenziali:</legend>
            <label>Username:<input type="text" name="username" required></input></label>
            <label>Password:<input type="password" name="password" required></input></label>
            <br>
            <button type="submit">Login</button>
        </fieldset>
    </form>
    
<br><br><br>

    <a href="../index.html">Torna indietro</a>

</body>




















