<!DOCTYPE html>
<html>

<head>
    <title>Registrazione</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/confirm.css">
</head>

<body>
    <div class="container-fluid">
        <h1>Congratulazioni!</h1> <br>
        <p>La registrazione &egrave; avvenuta con successo.</p>
        <br><br>
        <a href="../index.html">Ritorna alla homepage</a>
    </div>
</body>

</html>