<!DOCTYPE html>
<html>

<head>
    <title>pagestyle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style type="text/css">
        @import url(../css/pagestyle.css);
    </style>
</head>

<body>
    <div class="row" id="header">
        <!--Header-->
        <div class="col-sm-1 col-md-1 col-xl-1"></div>
        <div class="col-sm-1 col-md-2 col-xl-6">
            <a href="../index.html">
                <img  src="../img/comuni/Senza titolo-3psd.gif" alt="Green Events" height="200">
            </a>
        </div>
        <div class="col-sm-1 col-md-1 col-xl-1">  </div>
        <div class="col-sm-6 col-md-4 col-xl-1"></div>
        <div class="col-sm-2 col-md-3 col-xl-2" id="form">
                <form action="access.html" method="POST" id="accesso">
                    <div>
                        <label for="name">Username:</label>
                        <input type="text" name="sender" size="15" required>
                        <label for="pwd">Password:</label>
                        <input type="password" name="pwd" size="15" maxlength="40" required>
                        <button type="submit">Accedi</button>
                    </div>
                </form> <br>
            <a id="reg" href="userlogin.html">Registrati</a>
        </div>
        <div class="col-sm-1 col-md-1 col-xl-1"></div>
    </div>
<hr>

    <div id="content"></div>

    <div class="row" id="footer">
        <!--Footer-->
        <div class="col-sm-1 col-md-1 col-xl-1"></div>
        <div class="col-sm-2 col-md-1 col-xl-1">
            <a class="foot" href="../team/team.html">Team</a>
        </div>
        <div class="col-sm-6 col-md-8 col-xl-8">
            <p id="legis">La Scala, Via Filodrammatici, 2, 20121 Milano MI</p>
            <p id="copy">Tutti i marchi riportati appartengono ai legittimi proprietari; nomi di prodotti, nomi commerciali e società citati possono essere marchi di proprietà dei rispettivi titolari o marchi registrati d’altre società e sono stati utilizzati a puro scopo esplicativo ed a beneficio del possessore, senza alcun fine di violazione dei diritti di Copyright vigenti.</p>
        </div>
        <div class="col-sm-2 col-md-1 col-xl-1">
            <a class="foot" href="adminlogin.html">Admin Login</a>
        </div>
        <div class="col-sm-1 col-md-1 col-xl-1"></div>
    </div>    

</body>

</html>