body{font-family: Arial, Helvetica, sans-serif;}
body{text-align: center;}
h1{color:darkgreen}
img#mec{border-radius: 20px;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;} 
hr{height: 10px;
    border: 1;
    box-shadow:inset 0 8px 6px -2px forestgreen;
    border-color:forestgreen;
    border-top: 1px forestgreen;
    border-radius: 6px;}
a{color: forestgreen;}
#table{border: 5px;
    border-style: double;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 8px;
    border-color: seagreen;
    background-color: rgb(178, 231, 178);}
#hobby{font-size: larger;}
th{color: darkgreen;}
div>a{color: forestgreen;}
body{background-color: rgb(223, 253, 223);}
div>a{color: forestgreen;} 





