/*grafica tabella*/
table {
    border-collapse: collapse;
    
    } 
   th{width: 150px;}
    
    td
     {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    text-align: center;
    background-color: rgb(182, 251   , 174);
    }
   
    [scope=col],[scope=row] {
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(73,138,9);}
    
        span{
            margin: 10px;
            font: bold;
            font-size: 16pt;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        }
/*grafica foto e dati personali*/
img{
    border: 4px;
    float: left;
    margin:10px; 
}
div{ 
    margin-bottom: 180px;
    margin-top:70px
}
/*grafica nome*/
#top{background-image: url(../../img/nadia/foglie.jpg);
padding: 40px;
font-family: cursive;
font-size: 30pt;
color: antiquewhite;
}
/*grafica sfondo*/
body{ background-color: rgb(182, 251   , 174);}
a{color:rgb(0, 0, 0)}
